{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="3">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td colspan="1">{{ result.title }}</td>
						<td style="text-align:right">{{ result.regdate }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td colspan="3">
							<div class="view-content">
								{{ result.contents | linebreaksbr }}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">글목록</a>
					{% if request.session.authuser.no == result.bno %}
					<a href="/board/updateform?no={{ result.ano }}">글수정</a>
					<a href="/board/deleteform?no={{ result.ano }}">삭제</a>
					{% endif %}
					<a href="/board/replyform?no={{ result.ano }}">답글</a>
				</div>
			</div>
{% endblock %}